.rodapeContainer {
  width: 100%;

  padding: 30px 20px;

  background-color: #1f3c88;
  color: white;

  text-align: center;

  border-top: 2px solid #5da9e9;
}

.rodapeContainer p {
  font-size: 0.95rem;
  margin-bottom: 8px;
}

.rodapeTexto {
  color: #dbeafe;
  font-size: 0.85rem;
}

.assinatura {

  margin-top: 10px;

  font-size: 0.85rem;

  color: #dbeafe;

  opacity: 0.9;
}

.assinatura a {

  color: #5da9e9;

  text-decoration: none;

  font-weight: 600;

  transition: 0.3s ease;
}

.assinatura a:hover {

  color: white;

  text-decoration: underline;
}